<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poker_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,798},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,798},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,599},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,599},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,400},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,400},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,798},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,599},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,201},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,201},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_0_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,400},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_0_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,798},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_0_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,599},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_0_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,2},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,201},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,400},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,798},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,599},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,201},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,400},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,798},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,599},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,2},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_1_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,201},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,400},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,798},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,599},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,201},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,400},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,798},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,599},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,201},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,400},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,798},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_2_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,599},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,201},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,400},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,798},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,599},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,201},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,400},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,201},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_3_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_3_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_4_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
            <key>poker_4_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,197}}</string>
                <key>sourceSize</key>
                <string>{151,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1685,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8770e907eecdd9824a7de1c7127f8b0:27525bf89383fccb2afed767e0f5993f:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
