<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>applylist_btn_apply_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,298},{159,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,57}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
            <key>applylist_btn_apply_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,368},{159,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,57}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
            <key>applylist_btn_apply_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,309},{159,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,57}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
            <key>applylist_btn_apply_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,239},{159,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,57}}</string>
                <key>sourceSize</key>
                <string>{159,57}</string>
            </dict>
            <key>applylist_head_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,194},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>applylist_sprite_apply_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,298},{152,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,38}}</string>
                <key>sourceSize</key>
                <string>{152,38}</string>
            </dict>
            <key>applylist_sprite_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{528,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,18}}</string>
                <key>sourceSize</key>
                <string>{528,18}</string>
            </dict>
            <key>applylist_sprite_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{533,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,24}}</string>
                <key>sourceSize</key>
                <string>{533,24}</string>
            </dict>
            <key>applylist_sprite_bar_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,194},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>applylist_sprite_kkk.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,194},{181,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,43}}</string>
                <key>sourceSize</key>
                <string>{181,43}</string>
            </dict>
            <key>applylist_sprite_leik.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,486}}</string>
                <key>sourceSize</key>
                <string>{448,486}</string>
            </dict>
            <key>applylist_sprite_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,190},{384,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,2}}</string>
                <key>sourceSize</key>
                <string>{384,2}</string>
            </dict>
            <key>applylist_sprite_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,78},{441,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,44}}</string>
                <key>sourceSize</key>
                <string>{441,44}</string>
            </dict>
            <key>applylist_sprite_list_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,124},{404,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,64}}</string>
                <key>sourceSize</key>
                <string>{404,64}</string>
            </dict>
            <key>applylist_sprite_minNeedBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,22},{497,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,54}}</string>
                <key>sourceSize</key>
                <string>{497,54}</string>
            </dict>
            <key>applylist_sprite_nc.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,124},{59,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,24}}</string>
                <key>sourceSize</key>
                <string>{59,24}</string>
            </dict>
            <key>applylist_sprite_szje.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,452},{104,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,24}}</string>
                <key>sourceSize</key>
                <string>{104,24}</string>
            </dict>
            <key>applylist_sprite_xdjb.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,298},{105,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,25}}</string>
                <key>sourceSize</key>
                <string>{105,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>applylist.png</string>
            <key>size</key>
            <string>{1020,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d015d33fa78425e93a8384ec530d8e37:f4f761dc6227d66a33235fa9faf24ce9:8f5934c9bd78d42ce90b680d604ada75$</string>
            <key>textureFileName</key>
            <string>applylist.png</string>
        </dict>
    </dict>
</plist>
